<% @files.each do |file|%>
    <div class="media">

      <%= link_to (image_tag file.image.url(:thumb)), gpsfile_show_path(file), html_options = {:class => 'pull-left thumbnail'}  %>

      <div class="media-body">
        <h4 class="media-heading"><%= link_to file.name, gpsfile_show_path(file) %></h4>
        <% if file.start.present? %>
            <span class="label label-default"><%=l file.start, format: :short%></span>
        <% end %>
        <% if file.city.present? %>
            <span class="label label-default"><%=file.city %></span>
        <% end %>
        <ul class="list-unstyled">
          <li>Distanz: <%=kilometer(file.length)%></li>
          <li>Dauer: <%=duration(file.duration)%> h</li>
        </ul>
      </div>
    </div>
<% end %>