<% @files.each do |file|%>
    <ul>
      <li><%=image_tag file.image.url(:big) %></li>
      <li><%=file.length%> Kilometer</li>
      <li><%=file.duration/60/60%> Stunden</li>
      <li><%=file.city%></li>
      <li><%=file.country%></li>
    </ul>
<% end %>