<% @files.each do |file|%>
    <div class="media">
      <a class="pull-left thumbnail" href="#">
        <%=image_tag file.image.url(:thumb) %>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%=file.name%></h4>
        <span class="label label-default"><%=l file.start, format: :short%></span>
        <span class="label label-default"><%=file.city %></span>
        <ul class="list-unstyled">
          <li>Distanz: <%=file.length.round(2)%> Kilometer</li>
          <li>Dauer: <%=Time.at(file.duration).utc.strftime("%H:%M")%> h</li>
        </ul>
      </div>
    </div>
<% end %>