<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <%= render 'filelist' %>
  </div>
  <div class="col-md-6">
    <%= render 'statistics' %>
  </div>
</div>

<%= paginate @files%>
<%= page_entries_info @files%>
