<div class="page-header">
  <h1><%=@file.name%> <small><%=l @file.start, format: :long%></small></h1>

  <%= map(:center => {
          :latlng => [51.52238797921441, -0.08366235665359283],
          :zoom => 10
          })
  %>
  <%=map_gpx('/gpxfiles/import/'+@file.filename) %>

  <ul class="list-unstyled">
    <li>Dauer: <%=duration(@file.duration)%></li>
    <li>Distanz: <%=kilometer(@file.length)%></li>
    <li>Geschwindigkeit: <%=average(@file.average_speed)%></li>
    <li>Start: <%=l @file.start, format: :short%></li>
    <li>Ende: <%=l @file.end, format: :short%></li>
    <li>Dauer: <%=l @file.created_at, format: :short%></li>
    <li>Stadt: <%=@file.city%></li>
    <li>Dateiname: <%=@file.filename%></li>
  </ul>

</div>